include ../icon/icon

mixin button(props)
	- props = typeof props != 'undefined' ? props : {}

	- var mods = props.mods || {}
	- var tag = props.attrs && props.attrs.href ? 'a' : 'button'
	- var data = props.data || {}
	- var attrs = props.attrs || {}

	- var icon = data.icon || false
	- var text = data.text || false
	- var hiddenText = data.hiddenText || false

	#{tag}.button(
		class= mods.theme ? 'button_theme_#{mods.theme}' : ""
		class= mods.type ? 'button_type_#{mods.type}' : ""
		class= !text && icon ? 'button_only-icon' : ""
	)&attributes(attrs)
		if icon
			.button__icon(class="button__icon_type_#{icon}")
				+icon(icon, true)

		if text
			span.button__text= text
		if hiddenText
			span.button__hidden-text= text
